:root
{
    --color-button-tertiary-background:#FEF7E5 !important
}.header__inner-wrapper, .header__nav-bar-inner {    overflow: hidden !important
}
.quick-search__submit {
    background: var(--color-button-primary-text);
    color: var(--color-button-primary-background) !important;
}
.product-item__price s:not(:empty)+[data-price], .product-item__price .displayed-discount , .product-item__price-wrap .sale {
    opacity: 0.66;
}

#shop-hcaptcha-badge-container {
    bottom: 100px !important;
    z-index: 2 !important;
}
.meganav__secondary {
    border-left: 0 !important;
}

.meganav__content {
    padding-bottom: 40px !important;
}
.newsletter-compact__signup.newsletter-compact__block-item input.newsletter-compact__signup-input::placeholder {
    opacity: 1 !important;
}

.verz-logo {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0Ljk5NDkgMC4xNjMzMzFDMTQuOTYwNyAwLjExMjkwNSAxNC45MTQ0IDAuMDcxODQ4MSAxNC44NjAyIDAuMDQzOTAwNkMxNC44MDYxIDAuMDE1OTUzMSAxNC43NDU4IDAuMDAyMDA0NDQgMTQuNjg0OSAwLjAwMzMzMTMxSDAuMzU1ODczQzAuMjk2NjQ1IC0wLjAwMjE0MDI3IDAuMjM3MDUzIDAuMDA4NzQ2NzkgMC4xODM1ODYgMC4wMzQ4MDY0QzAuMTMwMTE4IDAuMDYwODY2IDAuMDg0ODI3NyAwLjEwMTEwMSAwLjA1MjY0NzkgMC4xNTExMjRDMC4wMjA0NjgyIDAuMjAxMTQ3IDAuMDAyNjMzODYgMC4yNTkwNDIgMC4wMDEwODY1OCAwLjMxODUwMkMtMC4wMDA0NjA2OTUgMC4zNzc5NjEgMC4wMTQzMzc3IDAuNDM2NzAzIDAuMDQzODcyMiAwLjQ4ODMzMkwyLjk0Mzg3IDUuMDAzMzNMNC44Mzg4NyA0LjAyMDMzTDMuNTEzODcgMS45NjYzM0gxMS40OTk5TDE0Ljk5NDkgMC4xNjMzMzFaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNMC4wNDI4OTU3IDAuNDg2Mzc4QzAuMDEzMzYxMiAwLjQzNDc1IC0wLjAwMTQzNzI2IDAuMzc2MDA4IDAuMDAwMTEwMDIgMC4zMTY1NDhDMC4wMDE2NTczIDAuMjU3MDg5IDAuMDE5NTA1IDAuMTk5MTk4IDAuMDUxNjg0NyAwLjE0OTE3NUMwLjA4Mzg2NDUgMC4wOTkxNTE2IDAuMTI5MTM4IDAuMDU4OTE2NCAwLjE4MjYwNSAwLjAzMjg1NjhDMC4yMzYwNzIgMC4wMDY3OTcxOSAwLjI5NTY4IC0wLjAwNDA5MzY4IDAuMzU0OTA3IDAuMDAxMzc3ODlIMTQuNjgzOUMxNC43NDQ5IDUuMTAyODJlLTA1IDE0LjgwNTIgMC4wMTQwMDM1IDE0Ljg1OTMgMC4wNDE5NTFDMTQuOTEzNSAwLjA2OTg5ODUgMTQuOTU5NyAwLjExMDk1NSAxNC45OTM5IDAuMTYxMzgyTDExLjQ5MzkgMS45NjEzOEgzLjUwNzkyTDQuODMyOTMgNC4wMTUzOUwyLjkzNzkyIDQuOTk4MzdMMC4wNDI4OTU3IDAuNDg2Mzc4WiIgZmlsbD0iIzQxNDA0MiIvPgo8cGF0aCBkPSJNMTQuOTQ2IDAuMDAwOTc2NTYyQzE0Ljk3ODQgMC4wNTUyNzU1IDE0Ljk5NTQgMC4xMTcyODcgMTQuOTk1NCAwLjE4MDQ3M0MxNC45OTU0IDAuMjQzNjYgMTQuOTc4NCAwLjMwNTY3NSAxNC45NDYgMC4zNTk5NzRMNy41OTgwNSAxMi44MkM3LjU2NDg3IDEyLjg3NSA3LjUxODAxIDEyLjkyMDYgNy40NjIwMyAxMi45NTIyQzcuNDA2MDUgMTIuOTgzOSA3LjM0Mjg1IDEzLjAwMDUgNy4yNzg1NSAxMy4wMDA1QzcuMjE0MjUgMTMuMDAwNSA3LjE1MTA0IDEyLjk4MzkgNy4wOTUwNiAxMi45NTIyQzcuMDM5MDggMTIuOTIwNiA2Ljk5MjIzIDEyLjg3NSA2Ljk1OTA1IDEyLjgyTDMuOTk4MDUgNy43ODA5OEw1LjkzOTA1IDYuNjgwOTdMNy4yODYwNSA4Ljk4MDk4TDExLjM4NiAyLjAzOTk3TDE0Ljk0NiAwLjAwMDk3NjU2MloiIGZpbGw9IiM4NDg0ODQiLz4KPHBhdGggZD0iTTYuOTYzODcgMTIuODIxTDMuOTk0ODcgNy43ODE5OEw1LjkzNDg4IDYuNjgxOThMNy4yODI5IDguOTgxOThMMTEuMzgyOSAyLjA0MDk3TDE0Ljk0NTkgMC4wMDA5NzY1NjJDMTQuOTc4MiAwLjA1NTI3NTUgMTQuOTk1MiAwLjExNzI5NSAxNC45OTUyIDAuMTgwNDgxQzE0Ljk5NTIgMC4yNDM2NjcgMTQuOTc4MiAwLjMwNTY3MSAxNC45NDU5IDAuMzU5OTdMNy42MDI4NCAxMi44MkM3LjU2OTYxIDEyLjg3NDggNy41MjI4IDEyLjkyMDIgNy40NjY5MiAxMi45NTE3QzcuNDExMDQgMTIuOTgzMSA3LjM0ODAxIDEyLjk5OTcgNy4yODM4NyAxMi45OTk3QzcuMjE5NzQgMTIuOTk5NyA3LjE1NjcxIDEyLjk4MzEgNy4xMDA4MyAxMi45NTE3QzcuMDQ0OTUgMTIuOTIwMiA2Ljk5ODA4IDEyLjg3NDggNi45NjQ4NCAxMi44Mkw2Ljk2Mzg3IDEyLjgyMVoiIGZpbGw9IiM0MTQwNDIiLz4KPC9zdmc+Cg==");
    width: 15px;
    height: 13px;
    text-decoration: none;
    display: inline-block;
    background-position: center center;
    position: relative;
    top: 3px;
    left: 4px;
}.footer__credits-additional-text a {
    text-decoration: none !important;
}

.footer__credits-additional-text a:hover {
    text-decoration: underline !important;
}.footer__credits {
    opacity: 1 !important;
}



p.copy_right {
    color: #909090;
}

.footer__credits-additional-text a {
    color: #414042;
}